<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top" id="top-nav">
  <div class="logos">
    <a class="navbar-brand" href="https://www.p2pu.org/en/">
      <img src="{{site.baseurl}}/assets/img/p2pu-logo.svg" alt="P2PU logo">
    </a>
    <a class="navbar-brand" href="https://www.zlb.de/">
      <img height="38px" src="{{site.baseurl}}/assets/img/zlb-logo.png" alt="ZLB logo">
    </a>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <a class="nav-item nav-link minicaps data-scroll" href="{{site.baseurl}}/">Home</a>
      <a class="nav-item nav-link minicaps data-scroll" href="{{site.baseurl}}/about/">Über uns</a>
      <a class="nav-item nav-link minicaps data-scroll" href="https://community.p2pu.org/c/p2pu-deutsch" target="blank">Learnteam-Moderation</a>
    </ul>
  </div>
</nav>
