/*

COLOURS

$gray-darker:           #515665;
$gray-dark:             #707782;
$gray:                  #AAB0BF;
$gray-light:            #D3D8E6;
$gray-lighter:          #F3F4F8;
$gray-snow:             #FCFCFC;

$p2pu-green:            #B7D500;
$p2pu-blue:             #05C6B4;
$p2pu-yellow:           #FFBC1A;
$p2pu-orange:           #FC7100;

*/

body {
  padding-top: 60px; /*navbar-height*/
}

section {
  padding-top: $padding-md;
  padding-bottom: $padding-md;
}

#header-img {
  clip-path: polygon(0 100%, 100% 80%, 100% 0, 0 0);
  filter: brightness(50%);

  &, img {
    width: 100%;
    height: 65vh;
    object-fit: cover;
  }
}

.background-triangle {
  position: absolute;
  right: 0;
  top: 0;
  width: 40vw;
  z-index: 0;
  -webkit-mask-image: url(../img/p2pu-bg-dots.svg);
  mask-image: url(../img/p2pu-bg-dots.svg);
  fill: $p2pu-yellow;
}

.background-triangle.background {
  fill: transparentize($p2pu-yellow, 0.5);
  -webkit-mask-image: none;
  mask-image: none;
}

#page-header {
  &.hero-header {
    position: relative;
    overflow: hidden;
    margin-top: -200px;

    .order-1 {
      order: 1;
    }

    .order-2 {
      order: 2;
    }

    .embed-responsive {
      border: 2px solid $white;
      border-radius: 8px;
    }

    .header-text {
      padding: 1em 0;
      font-size: 3.5vw;
      font-weight: bolder;
      text-align: center;
    }

    #intro-section {
      padding-bottom: 1em;

      h1 {
        min-height: 100px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: calc(24px + 1vw);
        line-height: 1.2;
        margin-top: 0.5rem;
      }

      .intro-text {
        padding-top: 10px;
        > div {
          padding: 30px;
          padding-bottom: 0;

          h1, h2 {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            line-height: 1.2;
          }

        }

        #attribution {
          padding-top: 0;
          font-size: 0.9rem;
        }
      }

      .video {
        width: 100%;
        padding: 40px;
        background: $p2pu-blue;
        color: $white;
      }
    }

  }

  &.pattern-header {
    position: relative;
    overflow: hidden;

    #header-img, img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }



    .header-text {
      padding: 1em 0;
      font-size: 3.5vw;
      font-weight: bolder;
      text-align: center;
    }

    #intro-section {
      padding-top: 5%;
      padding-bottom: 30px;

      .intro-text {
        padding: 30px;
        background: $white;
        color: $gray-darker;
        padding-right: calc(8.35% + 30px);
        box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.1);

        h2 {
          font-family: $font-family-sans-serif;
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
      }

      .row {
        align-items: center;
      }

    }

    .video {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;

      .embed-responsive {
        box-shadow: -2px 2px 6px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

#top-nav {
  background-color: #fff;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);

  .logos {
    order: 1;
  }

  .navbar-toggler {

  }

  .navbar-brand {
    img {
      max-height: 34px;
    }
  }
}

#faq {
  .faq-container {
    &:nth-of-type(4n+1) {
      .question {
        border-bottom: 4px solid $p2pu-yellow;
      }
    }

    &:nth-of-type(4n+2) {
      .question {
        border-bottom: 4px solid $p2pu-blue;
      }
    }

    &:nth-of-type(4n+3) {
      .question {
        border-bottom: 4px solid $p2pu-orange;
      }
    }

    &:nth-of-type(4n+4) {
      .question {
        border-bottom: 4px solid $p2pu-green;
      }
    }
  }

  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: "Open Sans";
    }
  }

  .answer {
    margin: 15px 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
}

footer {
  &.home-footer {
    box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.1);

    .contact-info {
      padding-top: 10px;
      padding-bottom: 10px;
      background: $white;
      color: $gray-darker;

      .links {
        justify-content: space-between;
      }
    }

    .social {
      display: flex;
      align-items: center;

      .content {
        .social-link {
          a {
            color: $gray-darker;

            &:hover {
              text-decoration: none;
              background: $gray-darker;
               i {
                color: $white;
              }
            }
          }
        }
      }
    }

    .logos {
      img {
        height: 50px;
        margin-left: 10px;
      }
    }

    .toc {
      background: $gray-darker;
      a, .container > div {
        color: $white;
      }
    }
  }
}

.checkbox-with-label {
  input[type="checkbox"] {
    height: 1.5em;
  }
}

@media (max-width: 992px) {
  #top-nav {
    .logos {
      order: 0;
    }
  }

  #page-header {
    &.hero-header {
      padding-top: 0;

      .order-sm-1 {
        order: 1;
      }

      .order-sm-2 {
        order: 2;
      }

      #header-img {
        position: relative;

        img {
          min-height: 66vh;
        }

        .header-text {
          flex-direction: column;
          font-size: 15vh;
        }

      }

      #intro-section {
        position: relative;

        h1, h2 {
          min-height: unset;
        }

        .intro-text {
          position: relative;
          margin: 0;
          > div {
            padding: 30px;
            background: white;
            border-radius: 8px;
          }
        }
      }
    }

    &.pattern-header {
      padding-top: 0;

      .container {
        padding: 0;
        margin: 0;
        max-width: 100%;
      }

      #header-img {
        img {
          min-height: 66vh;
        }

        .header-text {
          flex-direction: column;
          font-size: 15vh;
        }

      }

      #intro-section {
        position: relative;

        .intro-text {
          position: relative;
          margin: 0;
          padding-right: 30px;
          padding-bottom: calc(8.3% + 30px);
        }

        .embed-responsive {
          margin-top: calc(-8.3% - 30px)
        }

        .row {
          align-items: center;
          justify-content: center;
        }

        .video {
          position: relative;
        }
      }
    }
  }

  .navbar {
    align-items: unset;
    flex-direction: row;
    justify-content: flex-start;
  }

  footer {
    &.home-footer {
      .contact-info {
        .links {
          justify-content: center;

          .logos {
            img {
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #page-header {
    &.pattern-header {
      background-color: transparentize($p2pu-yellow, 0.5);

      #intro-section {
        .intro-text {
          padding: 20px;
        }

        .embed-responsive {
          margin-top: 20px;
        }
      }
    }
  }
}


