---
title: Facilitate
layout: base
bundles:
- style
---

<section id="facilitator-landing">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div>
        <h1 class="blue-text">Facilitate</h1>
      </div>
      <div class="welcome-text">
        <p class="large">Learning circles are free, interest-driven study groups. Every learning circle has a facilitator. The facilitator does not have to be an expert in the subject, so with a little practice and training, anybody can facilitate.</p>
        <p class="large">Whether you want to run a single learning circle or organize dozens across a library system, we are here to help. If you are new to Peer 2 Peer University, start by watching our introductory video.</p>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="media d-flex justify-content-center">
        <img src="{{ site.baseurl }}/assets/images/organize/organize-header.jpg" alt="Organizers group photo" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<section id="facilitator-resources" data-aos="fade-up">
  <div class="row">
    <div class="col-12">
      <div class="margin-sm">
        <p class="large">Anybody can facilitate a learning circle. Learn more about what facilitator do by reviewing these resources.</p>
      </div>
    </div>
  </div>

  <div class="resource-category">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <div class="category-title">
            <div class="step-title mb-4">
              <h2>Facilitator Resources</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row resources">

      {% for resource in site.data.facilitator_resources %}

        <div class="resource-card organize col-12 col-md-6 col-lg-4 p-md-3">
          <a href="{{ resource.url }}">
            <div class="image">
              <img src="{{ resource.image }}" />
              {% if resource.tag %}
              <div class="overlay">
                <div class="topic-type minicaps">{{ resource.tag }}</div>
              </div>
              {% endif %}
            </div>
            <div class="title">{{ resource.title }}</div>
          </a>
        </div>

      {% endfor %}

      </div>
    </div>
  </div>

</section>
