---
---
<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140453310-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-140453310-1');
    </script>

    <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/aos.css">
    <!-- bootstrap -->

    {% for bundle in page.bundles %}
    <link rel="stylesheet" href="{{site.baseurl}}{{site.data.bundles[bundle]['css']}}">
    {% endfor %}

    {% if page.css %}
        {% for css in page.css %}
            <link rel="stylesheet" href="{{ site.baseurl }}{{ css }}" />
        {% endfor %}
    {% endif %}

    <link rel="icon" href="{{site.baseurl}}/favicon.ico">
    <meta name="msapplication-TileColor" content="#B7D500">
    <meta name="theme-color" content="#FCFCFC">
  </head>

  <body data-spy="scroll" data-target="#navbarNavAltMarkup" data-offset="70">

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    <!-- AOS -->
    <script src="{{site.baseurl}}/assets/js/aos.js"></script>
    <script>AOS.init({});</script>

    {% for bundle in page.bundles %}
    <script src="{{site.baseurl}}{{site.data.bundles[bundle]['js']}}"></script>
    {% endfor %}

  </body>
</html>
