---
---
<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140453310-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'UA-140453310-1');
    </script>

    <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/aos.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">

    {% for bundle in page.bundles %}
      <link rel="stylesheet" href="{{site.baseurl}}{{site.data.bundles[bundle]['css']}}">
    {% endfor %}
    {% for bundle in layout.bundles %}
      <link rel="stylesheet" href="{{site.baseurl}}{{site.data.bundles[bundle]['css']}}">
    {% endfor %}

    {% if page.css %}
        {% for css in page.css %}
            <link rel="stylesheet" href="{{ site.baseurl }}{{ css }}" />
        {% endfor %}
    {% endif %}

    <link rel="icon" href="{{site.baseurl}}/favicon.ico">
    <meta name="msapplication-TileColor" content="#B7D500">
    <meta name="theme-color" content="#FCFCFC">
  </head>

  <body data-spy="scroll" data-target="#navbarNavAltMarkup" data-offset="70">

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    <!-- Jquery & Bootstrap -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <!-- AOS -->
    <script src="{{site.baseurl}}/assets/js/aos.js"></script>
    <script>
AOS.init({
});
    </script>

    <!-- Smooth Scroll -->
    <script src="{{site.baseurl}}/assets/js/smooth-scroll.polyfills.min.js"></script>
    <script>
var scroll = new SmoothScroll('a[href*="#"]', { offset: 60 });
    </script>

    {% for bundle in page.bundles %}
    <script src="{{site.baseurl}}{{site.data.bundles[bundle]['js']}}"></script>
    {% endfor %}

    {% for bundle in layout.bundles %}
    <script src="{{site.baseurl}}{{site.data.bundles[bundle]['js']}}"></script>
    {% endfor %}


  </body>

</html>
