---
---
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>P2PU Berlin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="description" content="P2PU conference in Kansas City 2018">
    <!-- font-awesome -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- AOS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/aos.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">

    {% for bundle in page.bundles %}
      <link rel="stylesheet" href="{{site.baseurl}}{{site.data.bundles[bundle]['css']}}">
    {% endfor %}



    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#B7D500">
    <meta name="theme-color" content="#FCFCFC">
</head>

<body data-spy="scroll" data-target="#navbarNavAltMarkup" data-offset="70">

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    <!-- Jquery & Bootstrap -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <!-- AOS -->
    <script src="{{site.baseurl}}/assets/js/aos.js"></script>
    <script>
      AOS.init({
      });
    </script>

    <!-- Smooth Scroll -->
    <script src="{{site.baseurl}}/assets/js/smooth-scroll.polyfills.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]', { offset: 60 });
    </script>

    {% for bundle in page.bundles %}
      <script src="{{site.baseurl}}{{site.data.bundles[bundle]['js']}}"></script>
    {% endfor %}


  </body>

</html>
