---
layout: base
---

<section id="facilitator-landing">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div>
          <h1 class="blue-text">{{ page.title }}</h1>
        </div>
        <div class="welcome-text">
          <p class="large">{{ page.welcome | markdownify}}</p>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="media d-flex justify-content-center">
          <!--img src="{{ site.baseurl }}/assets/images/organize/organize-header.jpg" alt="" class="img-fluid"-->
        </div>
      </div>
    </div>
  </div>
</section>

<section id="facilitator-resources" data-aos="fade-up">

  <div class="resource-category container">
    <div class="content">
      <div class="row">
        <div class="col-12">
          <div class="category-title">
            <div class="step-title mb-4">
              <h2>{{ page.resources_title }}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row resources">

      {% for resource in page.resources %}
        <div class="resource-card organize col-12 col-md-6 col-lg-4 p-md-3">
          {% if resource.url contains 'http' %}
          <a href="{{ resource.url }}">
          {% else %}
            <a href="{{ site.baseurl}}{{resource.url }}">
          {% endif %}
            <div class="image">
              {% if resource.image contains 'http' %}
              <!-- boo -->
                <img src="{{ resource.image }}" />
              {% else %}
                <img src="{{site.baseurl}}{{ resource.image }}" />
              <!-- o -->
              {% endif %}
              {% if resource.tag %}
              <div class="overlay">
                <div class="topic-type minicaps">{{ resource.tag }}</div>
              </div>
              {% endif %}
            </div>
            <div class="title">{{ resource.title }}</div>
          </a>
        </div>
      {% endfor %}

      </div>
    </div>
  </div>

</section>
